<mat-toolbar style="position: fixed;
top: 0;
z-index: 10;">
  <mat-toolbar-row>
    <span style="margin-right:30px;">Covid-19 Tracker</span>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Search Country</mat-label>
        <input type="text" [(ngModel)]="query" (ngModelChange)="filterList()" matInput placeholder="Eg. Ghana">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </p>
  </mat-toolbar-row>

</mat-toolbar>
<div class="container">
  <div class="summary">
    <div *ngIf="summary" id="updated-wrapper"><span class="updated-text">updated at
        {{summary.statistic_taken_at}}</span>
    </div>
    <mat-grid-list *ngIf="summary" [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card>
          <mat-card-subtitle>Total Cases</mat-card-subtitle>
          <mat-card-title>{{summary.total_cases}}</mat-card-title>

        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card>
          <mat-card-subtitle>Total Deaths</mat-card-subtitle>
          <mat-card-title>{{summary.total_deaths}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card>
          <mat-card-subtitle>Total Recovered</mat-card-subtitle>
          <mat-card-title>{{summary.total_recovered}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card>
          <mat-card-subtitle>New Cases</mat-card-subtitle>
          <mat-card-title>{{summary.new_cases}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card>
          <mat-card-subtitle>New Deaths</mat-card-subtitle>
          <mat-card-title>{{summary.new_deaths}}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="countries" *ngIf="countries">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let country of filteredCountries">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{country.country_name}}
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div> <span class="item-label">Cases</span> <span class="item-neutral">{{country.cases}}</span> <span
            class="item-label">Deaths</span>
          <span class="item-dead">{{country.deaths}}</span> <span class="item-label">Total Recovered</span>
          <span class="item-recovered">{{country.total_recovered}}</span>
          <span class="item-label">New Deaths</span>
          <span class="item-dead">{{country.new_deaths}}</span>
          <span class="item-label">New Cases</span>
          <span class="item-recovered">{{country.new_cases}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
